[submodule "Back_end_Habitual"]
	path = Back_end_Habitual
	url = git@github.com:Nevashka/Back_end_Habitual.git
[submodule "Front_end_Habitual"]
	path = Front_end_Habitual
	url = git@github.com:Nevashka/Front_end_Habitual.git
